In [98]:
import requests
import bs4
from bs4 import BeautifulSoup
import random
from time import sleep

In [34]:
url ="https://www.fuzu.com/kenya/job?filters[term]=data%20science&filters[job_id]=464311&page=1"

In [35]:
headers={
    "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36"
}

In [36]:
response=requests.get(url, {"Headers":headers})

response.status_code

200

In [37]:
soup=bs4.BeautifulSoup(response.text, "html.parser")

In [94]:
# creating multiple pages
url_path = 'https://www.fuzu.com/kenya/job?filters[term]=data%20science&filters[job_id]=464311&page=1'
# Construct your own url paths 
a = 'https://www.fuzu.com/kenya/job?filters[term]=data%20science&filters[job_id]=464311&'
b = 'page='
paths=[]
for i in range(0,20):
    i = str(i)
    path = a+i+b
    paths.append(path)

In [105]:
institutions=[]
positions=[]
locations=[]
days_left=[]

for page in paths:
    url = page
    result = requests.get(url)
    soup = bs4.BeautifulSoup(result.text,'html.parser')
    institution=soup.find_all('p',{"class":"Text__StyledText-sc-152w2ki-0 MDWeZ b2c-text"})
    position=soup.find_all('h6',{"class":"Title__StyledTitle-sc-5s9ddm-0 cvLYDq title"})
    location=soup.find_all('p',{"class":"Text__StyledText-sc-152w2ki-0 ckLUZM b2c-text"})
    day_left=soup.find_all('p',{"class":"Text__StyledText-sc-152w2ki-0 bpWsQZ b2c-text"})
    sleep(random.randint(2,10))

    for i in institution:
        k=i.text
        institutions.append(k)
    
# print(institutions)

    for i in position:
        p=i.text
        positions.append(p)
    
# print(positions)


    for i in location:
        l=i.text
        locations.append(l)
    
# print(locations)




    for i in day_left:
        d=i.text
        days_left.append(d)
    
# print(days_left)

In [108]:
import pandas as pd 
ds_data=pd.DataFrame({'Institution':institutions,"Position":positions,"Location":locations,"Days left":days_left})

In [109]:
ds_data

,Institution,Position,Location,Days left
0,KCB Group,Data Engineer,"Nairobi, Kenya",1 day remaining
1,WWF International,Natural Science Coordinator,"Kajiado, Kenya",10 days remaining
2,The Nature Conservancy,Africa Blue Carbon Specialist,"Mombasa, Kenya",6 days remaining
3,Kamoa App,Data Scientist,"Nairobi, Kenya",3 days remaining
4,Majorel Kenya Limited,Reporting Analyst,"Nairobi, Kenya",21 days remaining
...,...,...,...,...
195,STEPWISE.,Android Developer,"Nairobi, Kenya",1 day remaining
196,Anvil Shield Holdings,Full Stack Software Developer (C # | Vue JS),"Nairobi, Kenya",25 days remaining
197,Stepwise,Laravel Developers,"Nairobi, Kenya",1 day remaining
198,Majorel Kenya Limited,Information Security Analyst,"Nairobi, Kenya",9 days remaining
199,Majorel Kenya Limited,Workforce Specialist,"Nairobi, Kenya",15 days remaining

In [113]:
ds_data.to_csv("DataScience_file.csv",sep=',')
ds_data.head(5)

,Institution,Position,Location,Days left
0,KCB Group,Data Engineer,"Nairobi, Kenya",1 day remaining
1,WWF International,Natural Science Coordinator,"Kajiado, Kenya",10 days remaining
2,The Nature Conservancy,Africa Blue Carbon Specialist,"Mombasa, Kenya",6 days remaining
3,Kamoa App,Data Scientist,"Nairobi, Kenya",3 days remaining
4,Majorel Kenya Limited,Reporting Analyst,"Nairobi, Kenya",21 days remaining